*,
*::before,
*::after{
  box-sizing: border-box;
}

a,
a:active,
a:visited,
a:hover,
a:focus{
  cursor: pointer;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 14px;
  font-family: "Open Sans";
  overflow-x: hidden;
}

p{
  line-height: 20px;
}

html.sr .load-hidden {
  visibility: hidden;
}